*/nbproject/private/

*.class
/UIPlatformApplication/QueryTools/build/*
/UIPlatformApplication/build/*
*/build/*
/UIPlatformApplication/DBConnectionProvider/build/
/UIPlatformApplication/QueryTools/nbproject/private/
/UIPlatformApplication/OvationAPI/build/
/UIPlatformApplication/GlobalInterfaceLibrary/build/
/UIPlatformApplication/SelectionDetails/build/
/UIPlatformApplication/SelectionDetails/nbproject/private/
/UIPlatformApplication/Browser/build/
/UIPlatformApplication/Editor/build/
/UIPlatformApplication/TestManager/build/