# OS X
.DS_Store

*/nbproject/private/

*.class
/ovation-ui/QueryTools/build/*
/ovation-ui/build/
/ovation-ui/*/build/
/ovation-ui/*/release/
/ovation-ui/DBConnectionProvider/build/
/ovation-ui/QueryTools/nbproject/private/
/ovation-ui/OvationAPI/build/
/ovation-ui/GlobalInterfaceLibrary/build/
/ovation-ui/SelectionDetails/build/
/ovation-ui/SelectionDetails/nbproject/private/
/ovation-ui/Browser/build/

/ovation-ui/Editor/build/
/ovation-ui/TestManager/build/
/ovation-ui/DBConnectionProvider/nbproject/private/
/ovation-ui/Beans Binding/build/
ovation-ui/nbproject/private/platform-private.properties
/ovation-ui/dist/
/ovation-ui/JFreeChart/build/
/ovation-ui/ovpredicate/nbproject/private/
/ovation-ui/query-builder-1.0-SNAPSHOT/nbproject/private/
/ScrollableTableTree/build/
/ScrollableTableTree/dist/
/ovation-ui/ij/nbproject/private/